/*
Name: Eden-Marie Freiku
Date created: 2025-11-09
Date last edited: 2025-03-11
Version: 5.0
Description: HW 3 CSS
*/
header {
    width: 100%;
    background-color: #7ad2ea;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #a8eee2;
    margin: 0;
    height: 100%;
    min-height: 100vh; 
}
form {
    flex-grow: 1;
}
h1, h2 {
    text-align: center;
    font-family:'Times New Roman';
    font-weight: bold;
    flex-grow: 1;
}
main {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: normal;
    flex-grow: 1;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #7ad2ea;
  font-weight: bold;
}

.image {
    text-align: left;
    width: 200px;
    height: auto; 
}
.td1 {
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: normal;
}
th {
    text-align: center;
    font-family: 'Times New Roman';
}
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #7aa3ea;
    height: 2.0rem;
}
#footer {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: normal;
    margin-right: 10px;
}
label {
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: normal;
}
input {
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: normal;
}
textarea {
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: normal;
}
#today {
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: normal;
    margin-right: 5px;
}
p {
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: normal;
}
.error {
    color:#c0a8ee;
    font-size: 12px;
    font-family: 'Times New Roman';
    font-weight: normal;
}
.pword-message {
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: normal;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: #c0a8ee;
}
#review {
    margin-top: 5px;
}
table.output,
tr.output,
td.output {
    width: 500px;
    background-color: rgb(181, 227, 251);
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: #c0a8ee;
}
td.output {
    width: 500px;
    background-color: rgb(181, 227, 251);
    padding: 10px;
    border-spacing: 2px;
}
#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}
#alert-content {
    background-color: rgb(219, 199, 246);
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}
#alert-content h4 {
   font-family: 'Times New Roman';
    font-weight: normal;
    margin-top: 30px;
}    
#close-alert {
    background-color: rgb(219, 199, 246);
    border-width: 1px;
    border-style: solid;
    color: rgb(120, 85, 150);
    border-color: rgb(73, 37, 103);
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    text-align: center;
    font-family: 'Times New Roman';
}